
$primary-color:#FFB400;
$normal-color:rgb(151, 150, 150);
$disabled-color:rgb(192, 192, 192);
$disabled-primary-color:#ffd779;

.Rating-Component{
    display: inline-flex;
}
.Rating-Component.medium{
    height: 24px;
}

.rating-star{
    position: absolute;
}
.rating-star.medium{
    width: 24px;
    height: 24px;
}
.star-wrapper.top-left{
    z-index: 13;
    width: 50%;
    fill: $normal-color;
    transform:150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
}
.star-wrapper.top-right{
    z-index: 10;
    fill: $normal-color;
    transform:150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
}

.star-wrapper.top-left.fill,.star-wrapper.top-right.fill{
    fill: $primary-color;
}


.star-wrapper{
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.5rem;
    fill: #ffffff;
    width: inherit;
    height: inherit;
    left: 0;
}
.star-content.medium{
    width: 24px;
    height: 24px;
}
.star-content{
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1)
}
.star-content.fill{
    fill: $primary-color;
}
.star-content.fill.disabled{
    fill: $disabled-primary-color;
}
.star-content.disabled{
    fill: $disabled-color;
}

.star-line{
    display: inline-flex;
    position: relative;
}
.star-item{
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
}